<ion-view title="Hi,{{username}}" id="page4"  hide-nav-bar="false" >

  <ion-nav-buttons >
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>


  <style>
    .button {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0px 6px;
    min-width: 27px;
    min-height: 27px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 21px;
    cursor: pointer;
    /* border-radius: 91%; */
}

.bar {
    padding: 0px;
}
    </style>




  <ion-content padding="true" class="imageBack"  >




    <script id="templates/mylongform.html" type="text/ng-template">
      <ion-modal-view class="product edit create">

        <ion-header-bar class="bar-balanced">

          <button class="button icon ion-navicon"></button>
          <h1 class="title">Header Buttons</h1>
          <button class="button" ng-click="closeModal()">close</button>

        </ion-header-bar>
        <ion-content >
          <ng-map center="{{lat}},{{long}}" style="width:100%; height:500px;" zoom="15">
            <marker position="{{lat}},{{long}}" ></marker>

            <custom-control id="home" position="BOTTOM_LEFT" style="padding-bottom:10%;" index="1">
              <div>
                <ul>
                  <li><button class="button button-balanced" ng-click="openModal()">Locate Me </button></li>


                </ul>
              </div>
            </custom-control>
          </ng-map>


        </ion-content>
        
      </ion-modal-view>
      
    </script>





    <div class="bar bar-header item-input-inset" ng-hide="true" >

      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="vehicle.$" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

    <ion-refresher on-refresh="doRefresh()">

    </ion-refresher>



    <div>
     

      <ion-list >
        <div ng-repeat="P in getAllDetails" >
              
          <div  class="card  {{item.ignitionStatus === 'OFF' ? 'vehicleOff' : item.isOverSpeed == 'Y' ? 'overspeed' : item.noDataTime > 0 ? 'nodata' : 'movingFine'}} {{item.parkedTime === 0 ? 'parkedVehicle' :'anrag'}} {{item.insideGeoFence === 'Y' ? 'geoFence' : 'anrag' }} "  ng-repeat="item in P.vehicleLocations  | orderBy: 'vehicleType' |  limitTo:50 | filter: vehicle : false track by $index">

            <div class="item item-text item-avatar"  style=" padding-bottom: 0px;">
              <img  ng-src="{{item.vehicleType === 'Truck' ? 'img/vehicletypes/truck.png' : item.vehicleType === 'heavy Vehicles' ? 'img/vehicletypes/truck-heavy.png' : item.vehicleType === 'Car' ? 'img/vehicletypes/car.png' : item.vehicleType === 'Bus' ? 'img/vehicletypes/bus.png' :  'img/vehicletypes/no.png'}}">

              <div class="row" ng-click="showMe = !showMe">
                <div class="col col-80">
                  <h2 class="vehicleNum">{{item.shortName}}</h2>
                  <div class="row shortDetail">
                    <p class="vehicleCurrent shortDetail  col col-30" ng-show="item.fuelLitre !== 0"><span style="padding-right:2px">
                              <img src="img/icons/fuelMeter.png" width="8px" height="8px"></span>{{item.fuelLitre}} L</p>
                    <p class="vehicleCurrent shortDetail col" ><span style="padding-right:2px">
                              <img src="img/icons/power.png" width="8px" height="8px"></span>{{item.ignitionStatus}}
                    </p>
                    <p class="vehicleCurrent shortDetail col  col-30" ng-show="item.distanceCovered !== 0"><span style="">
                              </span>{{item.distanceCovered}} Km
                    </p>
                    <p class="vehicleCurrent shortDetail col  col-30" ng-show="item.speed !== 0" ><span>
                             </span>{{item.speed}} Km/h
                    </p>
                  </div>
                </div>
                <div class="timeTrack col col-25">
                  <span ng-show="item.insideGeoFence === 'Y'"><img src="img/icons/home.png" width="13px" height="13px"></span><br>
                  <span ng-hide="item.insideGeoFence === 'Y'"><b> {{item.date | date:" h:mma"}} </b> </span><br>
                  <span ng-hide="item.insideGeoFence === 'Y'"><b>{{item.date | date:"dd-MMM-yy"}}</b> </span>
                </div>




                <!--                      {{item.lastSeen | split:' ':1}} {{item.lastSeen | split:'-': 0}}- {{item.lastSeen | split:'-':1  }}-->
              </div>

              <div class="addressHomeTop">{{item.address}}</div>
            </div>


            <div ng-show="showMe">
              <div class="seprator"></div>
              <div class="extraInfo row">
                <div class="extraInfoType col">Ig</div>
                <div class="extraInfoValue col">{{item.ignitionStatus}}</div>
                <div class="extraInfoType col">ODO Meter</div>
                <div class="extraInfoValue col">{{item.odoDistance}}</div>
              </div>
              <div class="extraInfo row">
                <div class="extraInfoType col col-25">Moving Time</div>
                <div class="extraInfoValue col">{{item.movingTime | formatDuration }}</div>
                <div class="extraInfoType col">speed</div>
                <div class="extraInfoValue col">{{item.speed}}</div>
              </div>

              <div class="extraInfo row">
                <div class="extraInfoType col col-25">Power</div>
                <div class="extraInfoValue col">{{item.powerStatus}}</div>
                <div class="extraInfoType col">Device</div>
                <div class="extraInfoValue col">{{item.deviceStatus}}</div>
              </div>

              <div class="extraInfo row">
                <div class="extraInfoType col col-25">Over Speed</div>
                <div class="extraInfoValue col">{{item.overSpeedLimit}}</div>
                <div class="extraInfoType col">Idle Time</div>
                <div class="extraInfoValue col">{{item.idleTime}}</div>
              </div>

              <div class="extraInfo row">
                <div class="extraInfoType col col-25">Parked Time</div>
                <div class="extraInfoValue col">{{item.parkedTime | formatDuration}}</div>
                <div class="extraInfoType col">Inside Geo</div>
                <div class="extraInfoValue col">{{item.insideGeoFence}}</div>
              </div>

              <!--<div class="extraInfo row">
                  <div class="extraInfoType col col-25">Parked Time</div>
                  <div class="extraInfoValue col">OFF</div>
                  <div class="extraInfoType col">Last Seen</div>
                  <div class="extraInfoValue col">22:20</div>
              </div>-->
              <div class="seprator"></div>
              <div class="extraInfo row">
                <div class="extraInfoValue col">+91 9718 52 778</div>
                <div class="col col-20">
                  <button class="button button-outline button-balanced" style="height:10px !important;">call</button>
                </div>


              </div>
              <div class="seprator"></div>
              <div class="extraInfo row">

                <div class="extraInfoValue addressShow col">{{item.address}}</div>
                <div class="col col-20">
                  <button class="button button-outline button-balanced" ng-click="openModal(item.latitude,item.longitude)" style="height:10px !important;">
                    Go
                  </button>
                </div>

              </div>
              <div class="row">
                <ng-map center="{{item.latitude}},{{item.longitude}}"  style="width:100%; height:100px;" zoom="5">
                  <marker position="{{item.latitude}},{{item.longitude}}"  on-click="map.showInfoWindow('bar')" title="Hello World!"></marker>
                     <info-window id="bar">
        <div ng-non-bindable>
         Vehicle Num - <b> {{item.shortName}} </b>
         
        </div>
      </info-window>
                </ng-map>
              </div>
            </div>
          </div>

        </div>
      </ion-list>
      <div style="padding-bottom:40% !important; "></div>
     
  </div>

  </ion-content>
  
  <ion-footer-bar style="background-color:transparent !important; height:13%;">

   
        <div class="row">
      <ion-scroll direction="x" class=" scrollBottom">
        <div class="buttonScroll row" >
          <div ng-repeat="P in getAllDetails | orderBy: 'group' | filter: vehicle : false track by $index">
            <div class="col"><button class="button button-energized"   ng-click = "getVehicleInfo(P.group,$index)">{{P.group | split: ':':0}}</button></div>
          </div>
        </div>
      </ion-scroll>
    </div>
    
    <div class="bar bar-header item-input-inset" style="position:fixed;" ng-hide ="search" ng-show="hide">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="vehicle.$"   ng-change="vm.search(vm.searchTerm)"
         ng-model-options="{debounce: 2000}"  placeholder="Vehicle/Group Anything">
      </label>
      <button  ng-click="change()" class="button button">
        Cancel
      </button>
    </div>
     </div>




<div class="tabs tabs-icon-top tabs-mine">

  <a class="tab-item"  ng-click="toggle()">
    <i class="icon ion-ios-search searching"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-android-car moving"></i>
    Moving
  </a>
  <a class="tab-item">
    <i class="icon ion-android-car parked"></i>
    Parked
  </a>
  <a class="tab-item">
    <i class="icon ion-android-car nodatacar"></i>
    Nodata
  </a>
</div>


   </ion-footer-bar>
  
</ion-view>
