<ion-view title="Logout"  hide-nav-bar="false"  ng-init="init()">
     <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="imageBack"  >

    <div class="card"><div class="extraInfoType" style="padding: 14px;">  Are You Sure, That you want to Logout ?</div></div>

    <button class="button button-block button-assertive" ng-click="logoutFn()">Sure, to Logout </button>
    </ion-content>
</ion-view>
